$color: #dbdbdb;

* {
    box-sizing: border-box;
}

body{
    margin-top: 0;
    max-width: 1440px;
    min-width: 300px;
    margin: auto;
}

.show-column{
    margin: 4px 42%;
    display: inline-block;
    width: 180px;
    font-size: 11px;
    font-weight: bold;
    color: rgb(68,68,68);
    padding: .2em 1.2em;
    border: 1px solid rgb(68,68,68);
    border-radius: 2px;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    transition: all .218s ease 0s;

    &:hover {
        color: rgb(24,24,24);
        border: 1px solid rgb(198,198,198);
        background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
      }
    &:active {
        color: rgb(51,51,51);
        border: 1px solid rgb(204,204,204);
        background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
        box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
    }
}

table {
    width: 50%;
    margin: 0 auto;
	border-collapse: collapse;

	th {
		font-weight: bold;
		background: $color;
		border: none;
        border: 2px solid $color;

        .close {
            font-size: 10px;
        }

        .show-column{
            display: none;
        }

	}
	td {
        align-content: center;
		border: none;
        border: 2px solid $color;

        .about {
            margin: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .icon {
            width: 15px;
            height: 15px;
            margin: 0 auto;
            border-radius: 15%;
        }
	}
}

.hide{
    display: none;
}

.redactor{
    background-color: $color;
    height: 250px;
    min-width: 300px;
    border-radius: 2%;
    padding: 7px;
    display: none;
    position: fixed;
    
    .close-button{
        float: right;
        margin-top: -19px;
    }

    input, textarea{
        width: 100%;
        justify-self: right;
    }

    select {
        width: 100%;
        justify-self: right;
    }

    .red-container {
        display: grid; 
        grid-template-columns: 1fr 2fr; 
        grid-template-rows: 1fr; 
    }

    label{
        align-self: center;
    }

    .header {
        margin: 0 3%;
    }

    .save-button{
        width: 100%;
    }

}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
}

@media (max-width: 650px){
    .main-container {
        justify-content: center;
    }
}